@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #f5f5f5;
    --color-secondary: #DFB042;
    --color-background: #000000;
    --color-background-gray: #171616;
    --color-text: #ffffff;
    --color-black: #000000;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Quicksand', sans-serif;
}

.lightmode {
    --color-black: #000000;
    --color-primary: #000000;
    --color-secondary: #DFB042;
    --color-background: #cfcfcf;
    --color-background-gray: #f5f5f5;
    --color-text: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background-gray);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-background);
    z-index: 100;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 2rem;
    
    transition: background-color 0.3s ease;
}

.page-header {
    position: absolute;
    top: 5px;
    left: 2rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logo-icon {
    width: 45px;
    height: 45px;
}

.page-title {
    font-family: var(--font-family-secondary);
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color-primary);
    align-items: center;
    
    transition: color 0.3s ease;
}

nav a {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-family-secondary);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
    align-items: center;
}

.nav-links {
    position: absolute;
    right: 0.9%;
    display: flex;
    gap: 6rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
}

nav a:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}
nav a:focus {
    border-color: var(--color-primary);
    outline: none;
}
nav a.active {
    color: var(--color-primary);
    transition: color 0.3s ease;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: var(--font-family-secondary);
    color: var(--color-text); 
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

section.active {
    opacity: 1;
}


.btn {
    width: 250px;
    height: 50px;
    font: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-background); 
    background-color: var(--color-secondary);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    
    transition: 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:visited {
    color: var(--color-background);
}

.btn:hover {
    background-color: var(--color-primary);
    font-weight: bold;
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}
.btn:focus {
    outline: none;
    background-color: var(--color-primary);
}
.btn:active {
    transform: translateY(0);
    filter: brightness(0.9);
    box-shadow: none;
}

.lightmode .btn {
    color: var(--color-black);
}
.lightmode .btn:hover, .lightmode .btn:focus {
    color: var(--color-black); 
    background-color: var(--color-background-gray); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    
    background: linear-gradient(to bottom, var(--color-background) 0%, var(--color-background) 55%, var(--color-background-gray) 100%);
    color: var(--color-text);
    transition: background 0.3s ease, color 0.3s ease;
}

#services {
    
    background: linear-gradient(to bottom, var(--color-background-gray) 0%, var(--color-background-gray) 55%, var(--color-background) 100%);
    color: var(--color-text);
    transition: background 0.3s ease, color 0.3s ease;
}


#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 20px;
    
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 200;
}

#theme-switch svg {
    fill: var(--color-text);
    transition: fill 0.3s ease;
}

#theme-switch svg:first-child {
    display: none;
}

.lightmode #theme-switch svg:last-child {
    display: none;
}

.lightmode #theme-switch svg:first-child {
    display: block;
}

#theme-switch:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    transform: scale(1.1); 
}

#theme-switch:hover svg {
    fill: var(--color-background);
}

.services {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    row-gap: 0rem;
    column-gap: 3rem;
}


.link-bloco {
    text-decoration: none; 
    color: inherit;      
    display: block;        
}

.corte, .barba, .barba-corte{
    position: relative; 
    z-index: 2;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem 1.5rem;
    border-radius: 25px;
    background: var(--color-background);
    
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8), 0px 2px 5px var(--color-background-gray);
    text-align: left;
    font-size: 1rem;
    
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.3s ease;
}

.lightmode .corte, .lightmode .barba, .lightmode .barba-corte {
    background: #FFFFFF; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 2px 5px rgba(0, 0, 0, 0.05); 
}

.corte:hover, .barba:hover, .barba-corte:hover {
    transform: scale(1.05);
    
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); 
}

.lightmode .corte:hover, .lightmode .barba:hover, .lightmode .barba-corte:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 
}


.corte h2, .barba h2, .barba-corte h2 {
    text-align: center;        
    margin-bottom: auto;
    color: var(--color-secondary);        
}

.corte p1, .barba p1, .barba-corte p1 {
    text-align: center;
    margin-top: auto;        
    margin-bottom: auto;   
    transition: color 0.3s ease;
}

.corte p2, .barba p2, .barba-corte p2 {
    text-align: center;
    margin-top: auto;        
    margin-bottom: auto;   
    color: var(--color-secondary);
}

.footer {
    background: var(--color-background);
    color: var(--color-text);
    padding: 35px 5%; 
    font-family: var(--font-family-secondary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-container {
    display: flex;
    gap: 4rem; 
    justify-content: center; 
    flex-wrap: wrap;
}

.footer-section h3 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: var(--color-secondary);
}

.footer-section a {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 80px;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.7;
}





@media (max-width: 600px) {
    footer {
        display: none;
    }
}

@media (max-width: 768px) {

    
    nav .nav-links {
        display: none !important;
    }

    nav {
        justify-content: center; 
        padding-right: 60px; 
    }

    .page-header {
        position: static; 
        margin: 0;
        width: auto;
    }

    .page-title {
        font-size: 1.2rem; 
        white-space: nowrap;
    }

    .logo-icon {
        width: 35px;
        height: 35px;
    }

    
    #services {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        align-items: flex-start; 
    }

    .services {
        flex-direction: column; 
        gap: 20px;
        width: 100%;
    }

    .link-bloco {
        width: 90%;
        max-width: 350px;
        margin: 0 auto; 
        display: flex;
        justify-content: center;
    }

    .corte, .barba, .barba-corte {
        width: 100%; 
        height: auto; 
        min-height: 140px; 
        padding: 1.5rem;
    }

    .corte h2, .barba h2, .barba-corte h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
}