@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-primary: #f5f5f5;
    --color-secondary: #DFB042;
    --color-background: #000000;
    --color-background-gray: #171616;
    --color-text: #ffffff;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Quicksand', sans-serif;
}

.lightmode {
    --color-primary: #000000;
    --color-secondary: #DFB042;
    --color-background: #cfcfcf;
    --color-background-gray: #f5f5f5;
    --color-text: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background-gray);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: var(--color-background);
    z-index: 100;
    align-items: center;
    display: flex;
    height: 60px;
}

.page-header {
    position: absolute;
    top: 5px;
    left: 2rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logo-icon {
    width: 45px;
    height: 45px;
}

.page-title {
    font-family: var(--font-family-secondary);
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color-primary);
    align-items: center;
}

@media (max-width: 850px) {
    .page-header {
        display: none;
    }
}

nav a {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-family-secondary);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s ease;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
}

nav a:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}
nav a:focus {
    border-color: var(--color-primary);
    outline: none;
}
nav a.active {
    color: var(--color-primary);
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: var(--font-family-secondary);
    color: var(--color-background);
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

section.active {
    opacity: 1;
}

.btn {
    width: 100%;
    height: 50px;
    width: 200px;
    font: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-background);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 150ms ease, transform 150ms ease;
}

.btn:hover {
    background-color: var(--color-primary);
    font-weight: bold;
}
.btn:focus {
    outline: none;
    background-color: var(--color-primary);
}
.btn:active {
    transform: translateY(0);
    filter: brightness(0.9);
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    background: linear-gradient(to bottom, var(--color-background) 0%, var(--color-background) 55%, var(--color-background-gray) 100%);
    color: var(--color-text);
}

#services {
    background-color: var(--color-background-gray);
    color: var(--color-text);
}

#contact {
    background: linear-gradient(to bottom, var(--color-background-gray) 0%, var(--color-background-gray) 55%, var(--color-background) 100%);
    color: var(--color-text);
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 20px;
    transition: background-color 150ms ease, transform 150ms ease;
    z-index: 200;

}

#theme-switch svg {
    fill: var(--color-text);
    transition: fill 150ms ease;
}

#theme-switch svg:first-child {
    display: none;
}

.lightmode #theme-switch svg:last-child {
    display: none;
}

.lightmode #theme-switch svg:first-child {
    display: block;
}

#theme-switch:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    transform: scale(1);
}

#theme-switch:hover svg {
    fill: var(--color-background);
}
