@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-primary: #f5f5f5;
    --color-secondary: #DFB042;
    --color-background: #000000;
    --color-input-background: #232323dc;
    --color-text: #ffffff;
    --color-incorrect: #de0101;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Quicksand', sans-serif;
}
.lightmode {
    --color-primary: #000000;
    --color-secondary: #DFB042;
    --color-background: #cfcfcf;
    --color-text: #000000;
    --color-input-background: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    color: var(--color-text);
}

html{
    font-family: var(--font-family-primary);
    font-size: 12px;
    color: var(--color-text);
    text-align: center;
}

body {
    min-width: 100vw;
    background-image: url(../images/scissors.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.wrapper {
    box-sizing: border-box;
    background-color: var(--color-background);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;  
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header {
    position: absolute;
    top: 5px;
    left: 13%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logo-icon {
    width: 45px;
    height: 45px;
}

.page-title {
    font-family: var(--font-family-secondary);
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color-primary);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-primary);
    font-family: var(--font-family-primary);
}

form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--color-secondary);
    fill: var(--color-background);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--color-input-background);
    border-left: none;
    background-color: var(--color-input-background);
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--color-secondary);
}

form input:focus {
    border-color: var(--color-primary);
    outline: none;
}

div:has(input:focus) > label {
    background-color: var(--color-primary);
}

form input::placeholder {
    color: var(--color-primary);
    opacity: 0.6;
}

form button {
    width: 100%;
    height: 50px;
    font: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-background);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 150ms ease;
}


form button:hover {
    background-color: var(--color-primary);
}

form button:focus {
    outline: none;
    background-color: var(--color-primary);
}

a{
    text-decoration: none;
    color: var(--color-secondary);
}

a:hover {
    text-decoration: underline;
}

@media(max-width: 1100px) {
    .wrapper {
        width: min(600px, 100%);
        border-radius: 0;
    }
}

form div.incorrect label {
    background-color: var(--color-incorrect);
}

form div.incorrect input {
    border-color: var(--color-incorrect);
}

#error-message {
    color: var(--color-incorrect);
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 20px;
    transition: background-color 150ms ease, transform 150ms ease;
}

#theme-switch svg {
    fill: var(--color-text);
    transition: fill 150ms ease;
}

#theme-switch svg:first-child {
    display: none;
}

.lightmode #theme-switch svg:last-child {
    display: none;
}

.lightmode #theme-switch svg:first-child {
    display: block;
}

#theme-switch:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    transform: scale(1);
}

#theme-switch:hover svg {
    fill: var(--color-background);
}