{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exceções</title>
  <link rel="icon" type="image/svg+xml" href="{% static 'global/images/content_cut_24dp_E3E3E3_FILL1_wght400_GRAD0_opsz24.svg' %}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="{% static 'agendamento/css/styleexcecao.css' %}">
  <script type="text/javascript" src="{% static 'agendamento/js/excecao.js' %}" defer></script>
</head>

<body>
    
    <nav>
        <a href="{% url 'barbeiro_pagina_inicial_dashboard' %}" class="nav-logo">
            <img src="{% static 'global/images/content_cut_24dp_E3E3E3_FILL1_wght400_GRAD0_opsz24.svg' %}" alt="Logo" class="logo-icon">
            <h1 class="page-title">Barbearia do Wiese</h1>
        </a>
        
        <button id="theme-switch" aria-label="Alternar tema">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
        </button>
    </nav>

    <div class="container">
        
        <div class="wrapper">
            <h2>Cadastrar Exceção</h2>
            <p id="error-message" class="error-msg"></p>

            <form id="form-servico" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_servico" id="id_servico" value="">

                <div class="linha-titulo-toggle">
                    <p class="horario-text">Dia Início</p>
                    
                    <button type="button" id="btn-prolongar" class="btn-chip-toggle">
                        Prolongar
                    </button>
                </div>

                <div>
                    <label for="dia_excecao">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                            <path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/>
                        </svg>
                    </label>
                    <input type="date" name="dia_excecao" id="dia_excecao" required>
                </div>

                <div id="container_dia_fim" style="display: none;">
                    <p class="horario-text">Vai até o dia:</p>
                    <div>
                        <label for="dia_fim_excecao">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                                <path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/>
                            </svg>
                        </label>
                        <input type="date" name="dia_fim_excecao" id="dia_fim_excecao">
                    </div>
                </div>

                <p class="horario-text" style="margin-top: 15px;">Horário Início</p>
                <div>
                    <label for="horario_inicio">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000ff"><path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/></svg>
                    </label>
                    <input type="time" name="horario_inicio" id="horario_inicio" required step="1800">
                </div>

                <p class="horario-text">Horário Fim</p>
                <div>
                    <label for="horario_fim">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000ff"><path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/></svg>
                    </label>
                    <input type="time" name="horario_fim" id="horario_fim" required step="1800">
                </div>

                <p class="horario-text">Motivo da Exceção</p>
                <div>
                    <label for="motivo_excecao">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000ff">
                            <path d="M120-120v-720 720Zm120-120v-80h480v80H240Zm0-200v-80h480v80H240Zm0-200v-80h480v80H240Z"/>
                        </svg>
                    </label>
                    <textarea 
                        name="motivo_excecao" 
                        id="motivo_excecao" 
                        maxlength="30" 
                        placeholder="Motivo"
                        required
                    ></textarea>
                </div>

                <div class="botoes-acao">
                    <button type="submit" id="btn-salvar" class="confirm-button">Salvar Exceção</button>
                    <button type="button" id="btn-excluir" class="btn-excluir">Excluir</button>
                </div>

            </form> 

            <div class="back-text">
                <a href="{% url 'barbeiro_pagina_inicial_dashboard' %}" class="btn-voltar-link">
                    <button type="button">Voltar</button>
                </a>
            </div>

        </div>

        <div class="content-right">
            <h2 class="section-title">Exceções Cadastradas</h2>
            <p class="section-subtitle">Gerencie suas indisponibilidades</p>
            <div class="lista-servicos">
                {% if lista_horarios %}
                    {% for horario in lista_horarios %}
                    <label class="item-lista">
                        <input 
                            type="checkbox" 
                            class="checkbox-horario"
                            data-id="{{ horario.pk }}"
                        >
                        <div class="texto-servico">
                                    <h3>{{ horario.data_inicio|date:"d/m/Y" }}</h3>
                                    <p class="descricao">Início: {{ horario.data_inicio|time:"H:i" }}</p>
                                    <p class="valor">Término: {{ horario.data_fim|time:"H:i" }}</p>
                                    <p class="descricao"><strong>Até dia:</strong> {{ horario.data_fim|date:"d/m/Y" }}</p>
                                    <p class="descricao"><strong>Motivo:</strong> {{ horario.motivo_da_indisponibilidade }}</p>
                        </div>
                    </label>
                    {% endfor %}
                {% else %}
                    <p class="aviso-sem-servico">Nenhuma exceção cadastrada.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>