{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exceções</title>
  <link rel="icon" type="image/svg+xml" href="{% static 'global/images/content_cut_24dp_E3E3E3_FILL1_wght400_GRAD0_opsz24.svg' %}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="{% static 'agendamento/css/styleexcecao.css' %}">
  <script type="text/javascript" src="{% static 'agendamento/js/excecao.js' %}" defer></script>
</head>

<body>
    
    <nav>
        <a href="{% url 'barbeiro_pagina_inicial_dashboard' %}" class="nav-logo">
            <img src="{% static 'global/images/content_cut_24dp_E3E3E3_FILL1_wght400_GRAD0_opsz24.svg' %}" alt="Logo" class="logo-icon">
            <h1 class="page-title">Barbearia do Wiese</h1>
        </a>
        
        <button id="theme-switch" aria-label="Alternar tema">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
        </button>
    </nav>

    <div class="container">
        
        <div class="wrapper">
            <h2>Gerenciar Serviço</h2>
            <p id="error-message" class="error-msg"></p>

            <form id="form-servico" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_servico" id="id_servico" value="">

                <div>
                    <label for="dias_semana">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000ff"><path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-598H280v598Zm0-598v598-598Z"/></svg>
                    </label>
                    <select name="dias_semana" id="dias_semana" multiple required>
                        <option value="segunda">Segunda-feira</option>
                        <option value="terca">Terça-feira</option>
                        <option value="quarta">Quarta-feira</option>
                        <option value="quinta">Quinta-feira</option>
                        <option value="sexta">Sexta-feira</option>
                        <option value="sabado">Sábado</option>
                        <option value="domingo">Domingo</option>
                    </select>
                </div>

                <div>
                    <label for="horario_dia">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000ff"><path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/></svg>
                    </label>
                    <input type="time" name="horario_dia" id="horario_dia" required>
                </div>

                <div>
                    <label for="duracao">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000ff"><path d="M441-120v-86q-53-12-91.5-46T293-348l74-30q15 48 44.5 73t77.5 25q41 0 69.5-18.5T587-356q0-35-22-55.5T463-458q-86-27-118-64.5T313-614q0-65 41.5-99t108.5-47v-80h74v80q50 10 82.5 37t43.5 77l-72 32q-11-37-37-57t-63-20q-37 0-61.5 19t-24.5 47q0 31 23 52.5t97 45.5q77 24 113.5 61T674-358q0 72-46.5 107.5T515-206v86h-74Z"/></svg>
                    </label>
                    <select name="duracao" id="duracao" required>
                        <option value="" disabled selected>Duração</option>
                        <option value="30">30 minutos</option>
                        <option value="60">1 hora</option>
                        <option value="90">1 hora e 30 minutos</option>
                    </select>
                </div>


                <div class="form-actions">
                    <button type="submit" id="btn-salvar">Salvar Serviço</button>
                    <button type="button" id="btn-limpar" style="display: none;">Cancelar</button>
                </div>
            </form>
            
            <p class="back-text">
                <a href="{% url 'barbeiro_pagina_inicial_dashboard' %}">Voltar</a>
            </p>
        </div>

        <div class="content-right">
            <h2 class="section-title">Serviços Existentes</h2>
            <p class="section-subtitle">Clique em um card para editar</p>

            <div class="container-carrossel">
                <button type="button" class="seta" id="btn-esq">&#10094;</button>

                <div class="servicos-agendamento" id="scroll-container">
                    {% if servicos %}
                        {% for s in servicos %}
                        <div class="link-bloco" 
                             data-id="{{ s.pk }}" 
                             data-nome="{{ s.nome_servico }}" 
                             data-preco="{{ s.preco_servico }}" 
                             data-duracao="{{ s.slot_duracao_servico }}"
                             onclick="preencherFormulario(this)">  
                            
                            <div class="card-servico">
                                <h2>{{ s.nome_servico }}</h2>
                                <p class="descricao">{{ s.get_slot_duracao_servico_display }}</p>
                                <p class="valor">R$ {{ s.preco_servico }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p class="aviso-sem-servico">Nenhum serviço cadastrado.</p>
                    {% endif %}
                </div>

                <button type="button" class="seta" id="btn-dir">&#10095;</button>
            </div>

            <button class="confirm-button">Excluir Serviço</button>

        </div>

    </div>
</body>
</html>