@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #f5f5f5;
    --color-secondary: #DFB042;
    --color-background: #000000;
    --color-input-background: #171616;
    --color-text: #ffffff;
    --color-incorrect: #de0101;
    --color-hoje: #25f748;
    --color-black: #000000;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Quicksand', sans-serif;
}

.lightmode {
    --color-black: #000000;
    --color-primary: #000000;
    --color-secondary: #DFB042;
    --color-hoje: #25f748;
    --color-background: #cfcfcf;
    --color-text: #000000;
    --color-input-background: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-primary);
    font-size: 12px;
    color: var(--color-text);
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-background);
    z-index: 100;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 2rem;
}

.titulo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    font-size: 2rem;
    font-family: var(--font-family-secondary);
    font-weight: bold;
    color: var(--color-primary);
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.page-header {
    position: absolute;
    top: 5px;
    left: 2rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

body {
    min-width: 100vw;
    background-color: var(--color-input-background);
    background-size: cover;
    background-position: right;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 320px 1fr;
    min-height: 100vh;
    padding-top: 60px;
    background-color: var(--color-input-background);
}

.wrapper {
    background-color: var(--color-background);
    width: 320px;
    height: calc(100vh - 60px);
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 10;
}

.logo-icon {
    width: 45px;
    height: 45px;
}

.page-title {
    font-family: var(--font-family-secondary);
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color-primary);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-primary);
    font-family: var(--font-family-primary);
}

form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form button {
    width: 250px;
    height: 75px;
    font: inherit;
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-black);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover {
    background-color: var(--color-primary);
    color: var(--color-input-background);
}

form button:focus {
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-input-background);
}

.calendar {
    position: relative;
    top: auto;
    left: auto;
    grid-column: 2;
    margin: 40px auto 20px auto;
    width: 90%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--color-background);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.5);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--color-text);
    font-weight: bold;
    font-size: 1.5rem;
}

.calendar-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-black);
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 20px;
}

.day {
    text-align: center;
    padding: 5px;
    color: var(--color-text);
    font-size: 1.2rem;
    font-weight: bold;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 10px;
    color: var(--color-text);
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: var(--color-secondary) 150ms ease, color 150ms ease;
}

.date.active {
    background-color: var(--color-secondary); 
    color: var(--color-black);
    opacity: 0.5; 
}

.date:hover, .date.selected {
    background-color: var(--color-secondary);
    color: var(--color-black);
}

.date.inactive {
    color: var(--color-text); 
    opacity: 0.3;             
    pointer-events: none;    
    cursor: default;
}
.horarios-container {
    position: relative;
    left: auto;
    margin-top: 0;
    grid-column: 2;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    background: var(--color-background);
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--color-input-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horarios-container h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--color-text);
}

.lista-horarios {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.horario {
    padding: 10px 20px;
    background: var(--color-input-background);
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    cursor: pointer;
    color: var(--color-text);
    transition: .2s;
    font-size: 1.1rem;
}

.horario:hover, .horario.selected {
    background: var(--color-secondary);
    color: var(--color-black);
}

.confirm-button {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    grid-column: 2;
    margin: 20px auto 50px auto;
    width: 300px;
    height: 70px;
    font: inherit;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-black);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 150ms ease;
    display: block;
}

.confirm-button:hover {
    background-color: var(--color-primary);
    color: var(--color-input-background);
}

#logout-button {
    height: 35px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 20%;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 12px;
    right: 80px;
    color: var(--color-black);
    font-size: 1.4rem;
    z-index: 101;
    font-weight: bold;
    transition: background-color 150ms ease, transform 150ms ease;
}

#logout-button:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    transform: scale(1);
    color: var(--color-input-background);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 20px;
    transition: background-color 150ms ease, transform 150ms ease;
}

#theme-switch svg {
    fill: var(--color-text);
    transition: fill 150ms ease;
}

#theme-switch svg:first-child {
    display: none;
}

.lightmode #theme-switch svg:last-child {
    display: none;
}

.lightmode #theme-switch svg:first-child {
    display: block;
}

#theme-switch:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    transform: scale(1);
}

#theme-switch:hover svg {
    fill: var(--color-background);
}

@media(max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
    .wrapper {
        display: none !important;
    }

    .titulo {
        display: none !important;
}

    .calendar, .horarios-container, .confirm-button {
        grid-column: 1;
        width: 95%;
    }
    .user-info {
        position: static;
        transform: none;
        margin: 20px 0;
    }
}